

@font-face {
    font-family: 'Karla';
    src: url(./assets/fonts/Karla-VariableFont_wght.ttf);
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url(./assets/fonts/Karla-Italic-VariableFont_wght.ttf);
    font-weight: 100 900;
    font-style: italic;
}

:root{
    --Green-200: hsl(148, 38%, 91%);
    --Green-600: hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);
    --White: hsl(0, 0%, 100%);
    --Grey-500: hsl(186, 15%, 59%);
    --Grey-900: hsl(187, 24%, 22%);
    font-size: 16px;
    --font-family: 'Karla';
}

/* reseteo  */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--Green-200);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);

}


main{

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6.25rem ;
    
   
}

footer{
    margin-top: auto;
    text-align: center;
    padding-bottom: 20px 
}

.card{
    background-color: rgb(255, 255, 255);
    width: 30%;
    
    padding: 1rem;
    border-radius: 0.5rem;
}

/* fuentes */
fieldset{
    font-size: 12px;
}

.title {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 700;


}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}


form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label{
    font-size: 12px;
    font-weight: 500;
    color: var(--Grey-900);
}

.nombres{
    display: flex;
    flex-direction: row;
   
}



#Email{
    display: flex;
    flex-direction: column;
}
input{
    border-radius: 3px;
    border: 1px solid var(--Grey-500);
    height: 1.5rem;

}

textarea{
    border-radius: 3px;
    border: 1px solid var(--Grey-500);

}

fieldset{
    border: none;
}

.querytype label{
    display: flex;
    border: 1px solid var(--Grey-500);
    border-radius: 3px;
    flex:1;
    align-items: center;
    gap: 0.5rem;
    padding-block: 0.5rem;
    padding-left: .8rem;
    cursor: pointer;


}
.querytype {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    

}

.querytype legend{
   padding-bottom: 8px;
}


.identidad{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.25rem; 
}

.nombres{
    display: flex;
    gap: 1rem;
}

.identidad input{
    margin: 0;
    padding: 0;

    

}
#Email{
    display: flex;
    gap: .25rem;

}

.mensaje{
    display: flex;
    flex-direction: column;
    gap: .25rem;
    
}

.mensaje textarea{
    height: 3.75rem;
}

.consentimiento label{
    display: flex;
    gap: 0.6rem;
    align-items: center;
    font-weight: 400;
    padding-bottom: 1rem;
    
}


button{
    background-color: var(--Green-600);
    width: 100%;
    border: none;
    color: var(--White);
    font-family: var(--font-family);
    font-weight: 200;
    padding-block: 0.5rem;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
}

.attribution a{
    text-decoration: none;


}





.querytype label:has(input:checked){
    border-color: var(--Green-600);
    background-color: var(--Green-200);
    border: 2px solid green;
    
}

input[type="radio"],
input[type="checkbox"]{
    accent-color: var(--Green-600);
}


input{
    cursor: pointer;
}

input,
textarea{
    outline: none;
}




input:focus-visible,
textarea:focus-visible{
    outline: 0px solid var(--Green-600);
}



/* estado válido */
input:valid,
textarea:valid {
  border: 0.8px solid var(--Green-600);
}

/* estado inválido SOLO tras interacción */
input:invalid:not(:focus):not(:placeholder-shown),
textarea:invalid:not(:focus):not(:placeholder-shown) {
  border: 0.8px solid var(--Red);
}




/*  SIEMPRE AL FINAL para evitar que tenga más relevancia y se sobreponga poara hover y focus */
input:hover,
textarea:hover,
input:focus,
textarea:focus {
  border: 1.7px solid var(--Green-600);
}

button:hover{
    cursor: pointer;
}




.error-message {
  color: var(--Red);
  font-size: 11px;
  display: none;
}




/* borde rojo cuando hay error */
.error input,
.error textarea {
  border: 1.5px solid var(--Red);
}

/* mensaje de error */
.error-message {
  color: var(--Red);
  font-size: 11px;
  display: none;
}




/* mesnaje de éxito */



.success-message {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 1000;

}

.success-box {
  background-color: #2a3f3f;
  color: white;
  padding: 1rem 1rem;
  border-radius: 8px;
  display: flex;
  gap: 0.75rem;
  align-items: flex-start;
  font-size: 14px;
}

.success-box .check {
  font-weight: bold;
}

.success-box div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.success-box p{
    font-size: 12px;
    font-weight: 200;
}

.success-box strong{
    font-size: 12px;
    display: flex;
    gap: 5px;
}
.success-box img{
    width:4%;
}

.queryoptions{
    width: 100%;
    display: flex;
    gap: 1rem;
   
}



.custom-checkbox input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}


.checkbox-box {
  width: 12px;
  height: 12px;
  border: 1.5px solid var(--Grey-500);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  flex-shrink: 0;
}



.checkbox-box img {
  width: 100%;
  
  display: none;
}



.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
  font-size: 12px;
}



.custom-checkbox input:checked + .checkbox-box img {
  display: block;
}


/* ocultar radio real  */


.custom-radio input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}


/* ajustar la caja visual del radio donde pondremos la imagen  */
.radio-box {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1.2px solid var(--Grey-500);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}


/* ocultar icono por defecto  */

.radio-box img {
  width: 100%;
  height: 100%;
  display: none;
}

/* mostrar svg cuando se marque  */

.custom-radio input:checked + .radio-box img {
  display: block;
  border: none;
}

.custom-radio input:checked + .radio-box {
  border-color: var(--Green-600);
}


@media screen and (max-width:722px){
    .queryoptions p{
        font-size: clamp(0.8rem, 0.7189rem + 0.3458vw, 0.875rem);

    }

 
      .title{
        font-size: clamp(1.5rem, 1.4325rem + 0.2882vw, 1.5625rem);
    }

    label{
        font-size: clamp(0.9375rem, 0.87rem + 0.2882vw, 1rem);
        font-weight: 400;
    
    }

    .card{

        width: 95%;
  
    }

     form{
        width: 100%;
   
    }

    .nombres{

        flex-direction: column;
        
    }

    .queryoptions{
        flex-direction: column;
        
    }

    .queryoptions .custom-radio{
        padding-block: 20px;
        border-radius: 7px;
       
    }

     input{
        height: 3rem;
        border-radius: 5px;
        

    }
    .mensaje{
        gap: 0.8rem;


    }
    textarea{
    border-radius: 5px;
    resize: none;
    height: 16rem !important;
    
    

    }

    fieldset legend{
    font-size: 15px;
    font-weight: 400;
    color: var(--Grey-900);



    }

    .custom-checkbox p{

        font-size: 15px;
        font-weight: 400;
        color: var(--Grey-900);


    }

    .identidad{
        gap: 0.5rem;
    }

    #Email{
        gap: 0.5rem;

    }
    .querytype legend{
        padding-bottom: 15px;

    }



    .checkbox-box {
       width: 16px;
       height: 16px;
       border: 1.5px solid var(--Grey-500);
       border-radius: 2px;
       display: flex;
       align-items: center;
       justify-content: center;
       background-color: transparent;
       flex-shrink: 0;
   }


}



@media screen and (max-width:376px){


    .card{

        width: 95%;
  
    }

    form{
        width: 100%;
   
    }

    .nombres{

        flex-direction: column;
    }

    .queryoptions{
        flex-direction: column;
        
    }

    .queryoptions .custom-radio{
        padding-block: 10px;
        border-radius: 7px;
       
    }

    input{
        height: 2.2rem;
        border-radius: 5px;
        

    }
    .mensaje{
        gap: 0.8rem;


    }
    textarea{
    border-radius: 5px;
    resize: none;
    height: 16rem !important;
    
    

    }

    fieldset legend{
    font-size: 15px;
    font-weight: 400;
    color: var(--Grey-900);



    }

    .custom-checkbox p{

        font-size: 15px;
        font-weight: 400;
        color: var(--Grey-900);


    }

    .identidad{
        gap: 0.5rem;
    }

    #Email{
        gap: 0.5rem;

    }
    .querytype legend{
        padding-bottom: 15px;

    }



    .checkbox-box {
  width: 16px;
  height: 16px;
  border: 1.5px solid var(--Grey-500);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
flex-shrink: 0;
}


     

   
    
}